extends layout

block content
	h1= title
	p Welcome to #{title}
	div(class='btn-group')
		button(id='button', class='btn') click
		button(id='play', class='btn') rock_you_play
		button(id='uma_play', class='btn') uma_play
		button(id='hihin_play', class='btn') hihin_play
		button(id='pause', class='btn') pause
		button(id='mode0', class='btn') mode0
		button(id='mode1', class='btn') mode1
		button(id='mode2', class='btn') mode2
		button(id='mode3', class='btn') mode3
		button(id='stop', class='btn') stop rock you
	br
	br
	//- audio(id="weapon", src="mp3/04 Weapon of Choice.mp3", controls)
	br
	div(id='modeStatus')
	div(id='soundStatus')